<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>session</title>
</head>
<body>
	<h1 id="pt">PT助手</h1>



<blockquote>
  <p>1.<a href="https://facebook.github.io/react/">React</a>
  MVVM已成往事，Web Component大行其道的当下，你不得不去看的React。</p>
  
  <p>2.<a href="http://redux.js.org">Redux</a>
  为React量身打造，在原版Flux的基础上进行的重构。</p>
  
  <p>3.<a href="http://es6.ruanyifeng.com/">ES6</a>
  ES6已经有段时间了，还没尝试过的小伙伴们快看看阮老师的博客吧（此人博客我跪服）。</p>
  
  <p>4.<a href="http://babeljs.io/repl/">Babel</a>
  没有它，那还怎么愉快的和ES6玩耍。</p>
  
  <p>5.<a href="http://webpack.github.io/">Webpack</a>
  新一代前端打包部署神器，请忘掉Browserify吧。</p>
  
  <p>6.<a href="https://developer.mozilla.org/en-US/docs/Mozilla/JavaScript_code_modules/Promise.jsm/Promise">Promise</a>
  ES6原生支持Promise，有了它，地狱回调算神马，Ajax更没听过。</p>
  
  <p>7.<a href="http://www.material-ui.com/#/">material-ui</a>
  根据Material UI的设计风格，全力打造的一套适用于React App的UI Components。</p>
  
  <p>8.<a href="https://github.com/codesuki/react-d3-components#examples">react-d3-components</a>
  适用于React的d3 components，支持各种图表。</p>
</blockquote>

<h1 id="-4">贡献</h1>

<p>欢迎大家一起开发，请提交<code>Pull Request</code>，有问题请建Issue。另外，请大家统一commit的格式。
<strong>example:</strong></p>

<pre><code class="  language- ">[xf] #issue-num 'do something'
</code></pre>

<h1 id="license">License</h1>

<p>C1-TW</p>
</body>
</html>