<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Retro For Sep</title>
	<style type="text/css">
		body {
			width: 60%;
		    margin: 0 auto;
		    padding: 10px;
		    box-sizing: border-box;
		}
		.title {
			font-size: 4em;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../styles/github-md.css">
</head>
<body>
	<h1 class="title">Retro For Sep</h1>
	<div class="markdown-body">
		<table>
<thead>
<tr>
<th style="text-align:center;">Owners</th>
<th style="text-align:center;">Actions</th>
<th style="text-align:center;">Status</th>
<th style="text-align:center;">Reason</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center;"><code>Chenyu</code> &amp; <code>Yangjing</code></td>
<td style="text-align:center;">英语Session金数据feedback</td>
<td style="text-align:center;">Done</td>
<td style="text-align:center;"></td>
</tr>
<tr>
<td style="text-align:center;"><code>Jinjin</code></td>
<td style="text-align:center;">Code review</td>
<td style="text-align:center;"></td>
<td style="text-align:center;"></td>
</tr>
<tr>
<td style="text-align:center;"><code>Chenyu</code> &amp; <code>Xiaofei</code></td>
<td style="text-align:center;">Team成员间的feedback</td>
<td style="text-align:center;"></td>
<td style="text-align:center;"></td>
</tr>
<tr>
<td style="text-align:center;"><code>Zhengzheng</code></td>
<td style="text-align:center;">UAT与Production环境一致</td>
<td style="text-align:center;"></td>
<td style="text-align:center;"></td>
</tr>
<tr>
<td style="text-align:center;"><code>Yangjing</code></td>
<td style="text-align:center;">Session</td>
<td style="text-align:center;"></td>
<td style="text-align:center;"></td>
</tr>
<tr>
<td style="text-align:center;"><code>Jingjing</code> &amp; <code>XiaoYan</code></td>
<td style="text-align:center;">FT</td>
<td style="text-align:center;">Done</td>
<td style="text-align:center;"></td>
</tr>
<tr>
<td style="text-align:center;"><code>JinJin</code></td>
<td style="text-align:center;">技术大赛</td>
<td style="text-align:center;"></td>
<td style="text-align:center;">owner忙着谈恋爱导致错过了报名日期</td>
</tr>
</tbody>
</table>
	</div>
</body>
</html>