@mixin col($num) {
  width: (100%/12)* $num;
}

body {
	margin: 0;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.pullLeft {
	float: left;
}

.pullRight {
	float: right;	
}

.inlineBlock {
	display: inline-block;
}

.half {
	@include col(6);
}

.blue {
	color: rgb(0, 188, 212);
}

.red {
	color: rgb(255, 64, 129);
}

.bgGrey {
	background-color: #EEEEEE;
}

.bgLime {
	background-color: #E6EE9C;
}

.bgPink {
	background-color: #F48FB1;
}

.bgGreen {
	background-color: #A5D6A7;
}

.bgBlue {
	background-color: rgb(0, 188, 212);
}

.bgRed {
	background-color: rgb(255, 64, 129);
}

.storyPage, .bugPage {
	height: 100%;
	.searchBox {
		position: relative;
		margin: 10px 0 60px 0;
		.searchButton {
		    border: 0;
		    display: inline-block;
		    height: 24px;
		    width: 24px;
		    color: rgb(0, 188, 212);
		    &:hover {
		    	cursor: pointer;
		    }
		}
	}
	.storyList {
		clear: both;
		overflow: hidden;
		margin: 100px 5% 0 5%;
	}
}

.graphList {
	margin: 100px auto;
	max-width: 1020px;
	max-height: 460px;
	overflow-x: scroll;
	overflow-y: hidden;
	border-radius: 10px;
	border: solid 3px #EEEEEE;
	.graphListContainer {
		width: 400%;
		.graphBox {
	    width: 1000px;
	    display: inline-block;
	    padding: 10px;
	    text-align: center;
		}
	}
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin-left: 0;
	padding-left: calc(50% - 100px);
	padding-top: 30%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.541176);
}

.count {
	position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 56px;
  line-height: 100px;
  color: white;
  margin: 30px auto;
}

.transition {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.notification{
	width: 24px;
	height: 24px;
	position: absolute;
	margin-left: -25px;
	margin-top: -5px;
}

.simplePage {
	max-height: calc(100% - 64px);
	overflow: hidden;
	padding: 40px;
	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}
}

.logo {
	font-size: 100px;
	font-family: sans-serif;
	color: #FAFAFA;
	text-shadow: 2px 2px 2px;
	font-style: italic;
	text-align: center;
	width: 100%;
	margin-top: 25vw;
	position: absolute;
}

.circleMenu {
	height: 100vh;
	width: 100vw;
	ul li {
		position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -1.3em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    a {
    	position: absolute;
    	right: -7.25em;
    	bottom: -7.25em;
    	display: block;
    	width: 14.5em;
    	height: 14.5em;
    	border-radius: 50%;
    	text-align: center;
    	text-decoration: none;
    	font-size: 1.2em;
    	line-height: 2;
    	-webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
    	-moz-transform: skew(-60deg) rotate(-75deg) scale(1);
    	-ms-transform: skew(-60deg) rotate(-75deg) scale(1);
    	transform: skew(-60deg) rotate(-75deg) 
    }
	}
	ul li:first-child {
		transform: rotate(-20deg) skew(60deg);
	}
}

.sticker {
	text-decoration: none;
    color: #757575;
    font-size: 12px;
    margin-top: 10px;
    display: block;
    font-style: italic;
}

.statusBlock {
	width: 100px;
	height: 100px;
}